@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import '~boxicons';

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.phone-market {

}

.phone-market-navigation {
  display: flex;
  width: calc(600px - 8rem);
  background-color: #FFFF;
  box-shadow: 0 0 15px rgba(#000, .2);
  flex-direction: column;
  padding: 2rem 4rem;
  height: calc(100vh - 4rem);

  &-phone-brands-list {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;

    p {
      font-weight: 600;
      font-size: 13px;
      margin-bottom: 8px;
      cursor: pointer;
      transition: .3s all;

      &:hover {
        color: #8B8B8D;
        opacity: 0.3;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #979691;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 20px;
    }
  }
}