@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import '~boxicons';

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.phone-market {
  display: flex;
  width: 100%;

}

.phone-market-navigation {
  display: flex;
  width: calc(600px - 8rem);
  background-color: #FFFF;
  box-shadow: 0 0 15px rgba(#000, .2);
  flex-direction: column;
  padding: 2rem 4rem;
  height: calc(100vh - 4rem);
  position: fixed;
  left: 0;
  top: 0;

  &-phone-brands-list {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;

    p {
      font-weight: 600;
      font-size: 13px;
      margin-bottom: 8px;
      cursor: pointer;
      transition: .3s all;

      &:hover {
        color: #8B8B8D;
        opacity: 0.3;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #979691;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 20px;
    }
  }
}

.phone-market-phone-brands-list {
  display: flex;
  position: relative;
  top: 0;
  left: 600px;
  padding: 8rem 3rem 2rem;
  flex-direction: column;
  width: calc(100% - 6rem - 600px);
  height: 100%;
  justify-content: center;

  h4 {
    margin-bottom: 2rem;
  }

  &-box {
    width: calc(800px + 3rem * 3);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.phone-market-phone-brands-list-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;

  margin-right: 3rem;
  margin-bottom: 20px;
  cursor: pointer;

  &-bg {
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-bottom {
    display: flex;
    width: 100%;
    flex-direction: column;

    .phone-name {
      font-size: 13px;
      margin-top: 15px;
    }

    .phone-brand {
      font-size: 11px;
    }

    .phone-price {
      font-size: 14px;
    }

    p {
      text-align: center;
      font-weight: 600;
    }
  }


  &:nth-child(4n) {
    margin-right: 0;
  }
}
